:root {
  --main-background-color: #FFFFFF;
  --second-background-color: #2F303A;
  --first-logo-part-color: #000000;
  --second-logo-part-color: #FFFFFF;
  --hero-btn-color: #FFFFFF;
  --hero-btn-background-color: #2196F3;
  --header-link-color: #212121;
  --first-contacts-color: #757575;
  --main-title-color: #FFFFFF;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --address-map-color: #FFFFFF;
  --background-items-color: #FFFFFF;
  --backgrounds-team-color: #F5F4FA;
  --portfolio-btn-color: #212121;
  --portfolio-btn-background-color: #F5F4FA;
  --porfolio-btn-active-color: #FFFFFF;
  --accent-color: #2196F3;
  --main-trans-duration: 250ms;
  --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "roboto", "sans-serif";
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--main-background-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  transition-property: opacity, visibility;
  --main-trans-duration: 250ms;
  --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition-property: transform;
  --main-trans-duration: 250ms;
  --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-icon {
  transition-property: fill;
  --main-trans-duration: 250ms;
  --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-icon {
  fill: var(--accent-color);
}
.modal-close:focus .modal-icon {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

.modal-field {
  margin-bottom: 10px;
}

.input-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.86;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .modal-input {
    width: 100%;
  }
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  --main-trans-duration: 250ms;
  --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-text {
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  transition-property: border-color;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
}
.modal-text:focus {
  border-color: var(--accent-color);
}
.modal-text::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.86x;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.86x;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.86x;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.86;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 0.58;
  }
}

.check-link {
  position: relative;
  font-weight: 400;
  line-height: 1.71;
  margin-left: 5px;
  color: #2196F3;
}
.check-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  fill: transparent;
  transition-property: border-color;
  --main-trans-duration: 250ms;
  --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: #FFFFFF;
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.modal-form-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 30px auto;
  padding: 10px 52px;
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  transition-property: background-color;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188CE8;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 760px) {
  .header__container {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.meny {
  display: none;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .meny {
    display: flex;
  }
}

.meny__link {
  display: block;
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
  transition-property: color;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
}
.meny__link:hover, .meny__link:focus {
  color: var(--accent-color);
}

.menu-open {
  border: none;
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-open_icon {
  transition-property: fill;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
}
.menu-open_icon:hover, .menu-open_icon:focus {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}
.mob-menu > .mob-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.menu-close {
  display: block;
  position: absolute;
  top: 10px;
  right: 5px;
  border: none;
  background-color: transparent;
}

.menu-close_icon {
  transition-property: fill;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
}
.menu-close_icon:hover, .menu-close_icon:focus {
  fill: var(--accent-color);
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.88;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-tel__link {
  display: inline-block;
  font-size: 34px;
  line-height: 0.85;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px;
}

.mob-contacts__list {
  margin-bottom: 63px;
}

.mob-mail__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 0.86;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-soc {
  display: flex;
  align-items: center;
}

.mob-soc__item {
  position: relative;
}
.mob-soc__item:not(:first-child) {
  margin-left: 20px;
  position: relative;
}
.mob-soc__item:not(:first-child)::before {
  position: absolute;
  content: "";
  left: -10px;
  height: 22px;
  width: 2px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mob-soc__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  bottom: -38px;
  right: 0;
  width: 100%;
  height: 4px;
  background: currentColor;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .current::after {
    bottom: -29px;
  }
}

.logo {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 24px;
  line-height: 0.86;
  color: var(--accent-color);
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 0.84;
  }
}

@media screen and (min-width: 768px) {
  .navigation__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__logo {
    margin-right: 93px;
  }
}
.logo--dark {
  color: var(--first-logo-part-color);
}

.logo--light {
  color: var(--second-logo-part-color);
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    margin-left: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 0;
  }
}

.cotacts__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .cotacts__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.cotacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-contacts-color);
  display: flex;
  align-items: center;
  transition-property: color;
  --main-trans-duration: 250ms;
  --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}
.cotacts__link:hover, .cotacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: #757575;
  margin-right: 10px;
  transition-property: fill;
  --main-trans-duration: 250ms;
  --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}
.cotacts__link:hover .contacts__icon {
  fill: var(--accent-color);
}
.cotacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.hero {
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--second-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-2x.jpg);
  }
}

.hero__container {
  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-btn-color);
  background: var(--hero-btn-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  padding: 10px 24px;
  min-width: 200px;
  max-height: 50px;
  transition-property: background-color, box-shadow;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.advantage__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantage__container {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.pic-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.pic-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .pic-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .pic-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.pic-list__wrap {
  max-width: 450px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .pic-list__wrap {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .pic-list__wrap {
    max-width: 270px;
  }
}

.pic-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.86;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--second-title-color);
}
@media screen and (min-width: 768px) {
  .pic-list__title {
    text-align: left;
  }
}

.pic-list__txt {
  line-height: 1.71;
  color: var(--main-text-color);
}

.projects {
  display: block;
}
@media screen and (max-width: 1199.5px) {
  .projects {
    display: none;
  }
}

.projects__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

.card-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card-list__thumb {
  position: relative;
}

.card-list__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  background: var(--backgrounds-team-color);
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 0.84;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.people-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.people-list__item {
  background: var(--background-items-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .people-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .people-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.people-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 10px;
}

.people-list__job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.people-list__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-list__item {
  width: 44px;
  height: 44px;
}

.soc-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
}

.soc-list__icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
}
.soc-list__link:hover .soc-list__icon {
  fill: #FFFFFF;
}
.soc-list__link:focus .soc-list__icon {
  fill: #FFFFFF;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 0.84;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 0.86;
  }
}

.icons-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.icons-list__item {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .icons-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .icons-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.icons-list__link {
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
  --main-trans-duration: 250ms;
  --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-list__link:hover, .icons-list__link:focus {
  border-color: var(--accent-color);
}

.icons-list__icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
}
.icons-list__link:hover .icons-list__icon {
  fill: var(--accent-color);
}
.icons-list__link:focus .icons-list__icon {
  fill: var(--accent-color);
}

.footer__container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background-color);
}

@media screen and (min-width: 1200px) {
  .footer__address {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-tab__container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tab__container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
  }
}

.footer__logo {
  margin-bottom: 28px;
}

.requisites__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .requisites__container {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .requisites__container {
    display: block;
    margin-right: 93px;
    text-align: start;
  }
}

.requisites__item:not(:last-child) {
  margin-bottom: 12px;
}

.requisites__map {
  font-weight: 400;
  font-size: 14px;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--address-map-color);
  transition-property: color;
  --main-trans-duration: 250ms;
  --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}
.requisites__map:hover, .requisites__map:focus {
  color: var(--accent-color);
}

.requisites__main {
  margin-left: auto;
  margin-right: auto;
}

.requisites__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
}
.requisites__link:hover, .requisites__link:focus {
  color: var(--accent-color);
}

/*----------------------ADDRESS---------------------*/
.social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .social__text {
    text-align: start;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  --main-trans-duration: 250ms;
  --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: #FFFFFF;
}

/*---------------FORM--------------------------*/
.subscription__container {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .subscription__container {
    display: block;
    margin-top: 0;
    margin-left: 94px;
  }
}

.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscription__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__form {
    display: flex;
  }
}

.subscription__input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition-property: border-color;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
  margin-bottom: 20px;
}
.subscription__input::-moz-placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:-ms-input-placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .subscription__input {
    margin-left: 159px;
    margin-right: 159px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    margin-left: auto;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscription__btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  border: none;
  margin-left: 140px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  --main-trans-duration: 250ms;
  --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__btn:focus {
  background-color: #188CE8;
}
@media screen and (min-width: 768px) {
  .subscription__btn {
    margin-left: 284px;
    margin-right: 284px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.subscription__icon {
  margin-left: 10px;
}

.header__porfolio {
  border-bottom: 1px solid #ECECEC;
}

.filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filters__btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--portfolio-btn-color);
  background: var(--portfolio-btn-background-color);
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
}
.filters__btn:hover, .filters__btn:focus {
  background-color: var(--accent-color);
  color: var(--porfolio-btn-active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__item {
  flex-basis: calc((100% - 60px) / 3);
  background: var(--background-items-color);
}

.gallery__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
}
.gallery__link:hover, .gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__wrap {
  position: relative;
  overflow: hidden;
}

.gallery__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--main-trans-timing-func);
}
.gallery__link:hover .gallery__text {
  transform: translateY(0);
}
.gallery__link:focus .gallery__text {
  transform: translateY(0);
}

.card-wrap {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.card-wrap__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  margin-bottom: 4px;
}

.card-wrap__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
}/*# sourceMappingURL=main.css.map */