.backdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    transition-property: opacity, visibility;
--main-trans-duration: 250ms;
    --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    transition-property: transform;
    --main-trans-duration: 250ms;
        --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-icon {
    transition-property: fill;
    --main-trans-duration: 250ms;
        --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
    .modal-close:hover & {
            fill: var(--accent-color);
        }
    
        .modal-close:focus & {
            fill: var(--accent-color);
        }
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 12px;
    color: #212121;
}

.modal-field {
    margin-bottom: 10px;
}

.input-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 0.86;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 30px;
    outline: transparent;
    transition-property: border-color;
    transition-duration: var(--main-trans-duration);
    transition-timing-function: var(--main-trans-timing-func);
    &:focus {
            border-color: var(--accent-color);
        }
}

.input-wrap {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    transition-property: fill;
    --main-trans-duration: 250ms;
        --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
    .modal-input:focus + & {
            fill: var(--accent-color);
        }
}

.modal-text {
    width: 100%;
    min-height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    transition-property: border-color;
    transition-duration: var(--main-trans-duration);
    transition-timing-function: var(--main-trans-timing-func);
    &:focus {
            border-color: var(--accent-color);
        }
                &::placeholder {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 0.86x;
                    letter-spacing: 0.01em;
        
                    color: rgba(117, 117, 117, 0.5);
                }
}


.check-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    line-height: 1.71;
    color: #757575;
}

.check-link {
    position: relative;
    font-weight: 400;
    line-height: 1.71;
    margin-left: 5px;
    color: #2196F3;
&::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 6px;
        width: 100%;
        height: 1px;
        background-color: var(--accent-color);
    }
}

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    fill: transparent;
    transition-property: border-color;
    --main-trans-duration: 250ms;
        --main-trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
    .input-check:checked + & {
            background-color: var(--accent-color);
            border-color: transparent;
            fill: #FFFFFF;
        }
    
        .input-check:focus + & {
            border-color: var(--accent-color);
        }
}

.modal-form-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 30px auto;
    padding: 10px 52px;
    border: none;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    transition-property: background-color;
    transition-duration: var(--main-trans-duration);
    transition-timing-function: var(--main-trans-timing-func);
    &:hover,
        &:focus {
            background-color: #188CE8;
        }
}
