.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.gallery__item {
    flex-basis: calc((100% - 60px) / 3);
    background: var(--background-items-color);
}

.gallery__link {
    display: block;
    transition-property: box-shadow;
        transition-duration: var(--main-trans-duration);
        transition-timing-function: var(--main-trans-timing-func);
    &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.gallery__wrap {
    position: relative;
    overflow: hidden;
}

.gallery__text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.6;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: var(--main-trans-duration);
    transition-timing-function: var(--main-trans-timing-func);
    .gallery__link:hover & {
            transform: translateY(0);
        }
    
        .gallery__link:focus & {
            transform: translateY(0);
        }
}

.card-wrap {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.card-wrap__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-title-color);
    margin-bottom: 4px;
}


.card-wrap__text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--main-text-color);
}